@model AboutMeInputModel
@*ToDo AboutMe Create View: Form inputs and styling*@
        @*Guid Id

        string FullName

        string Email

        string PhoneNumber

        string GitHubLink

        string LinkedInLink

        string Description*@

<form asp-action="Create" asp-controller="AboutMe">
    
</form>