@model AboutMeUpdateModel

<form asp-action="Update" method="post">
    <input type="text" name="FullName" />
    <input type="email" name="Email"/>
    <input type="text" name="PhoneNumber"/>
    <input type="text" name="GitHubLink"/>
    <input type="text" name="LinkedInLink"/>
    <input type="text" name="Description"/>
</form>