@model AboutMeUpdateModel

<form asp-action="Update" method="post">
    <input class="input-form" type="text" name="FullName" placeholder="Name"/>
    <input class="input-form" type="email" name="Email" placeholder="Email"/>
    <input class="input-form" type="text" name="PhoneNumber" placeholder="Phone Number"/>
    <input class="input-form" type="text" name="GitHubLink" placeholder="GitHubLink"/>
    <input class="input-form" type="text" name="LinkedInLink" placeholder="LinkedInLink"/>
    <input class="input-form" type="text" name="Description" placeholder="Description"/>
    <input class="btn my-button"/>
</form>