@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

@*ToDo Home Index View: Add partial or directly to the view model 3 recent articles possibly like cards*@

<div class="text-center">
    <h1 class="display-4">Welcome to <span style="color: darkslateblue">Zvadohacks</span></h1>
    <p>This is a blog and a platform to learn programming.</p>
</div>
<hr />
<div class="text-center">Total Articles: <span class="text-muted">@Model.ArticlesCount</span></div>

