@*ToDo Article Create View: Style the inputs and the form*@

<form asp-action="Create" enctype="multipart/form-data">
    <img id="imagePreview" src="#" alt="image preview" />
    <input id="imageInput" type="file" multiple="multiple" name="Image" />
    <span>Heading</span>
    <input class="input-form" type="text" multiple="multiple" name="Heading" />
    <span>Author</span>
    <input class="input-form" type="text" multiple="multiple" name="Author" />
    <textarea multiple="multiple" name="Content"></textarea>
    <span>Content</span>
    <input class="btn my-button" type="submit" />
</form>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imageInput").change(function () {
        readURL(this);
    });
</script>
