<form asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="text" name="Name"/>
    <input type="text" name="Description"/>
    <input type="text" name="CodeLink"/>
    <input type="text" name="DeployedLink"/>
    <input type="file" name="Image"/> 

    <input type="submit"/> 
</form>
