/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.article-preview {
    text-align: center;
    background-color: #082E36;
    margin: 50px;
    padding: 20px;
    border-radius: 2px;
}

.page-item.active .page-link {
    background-color: #082E36 !important;
}

.comment-text{
    margin-top: 10px;
}

.article-details-container{
    padding: 20px
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.form-articles {
    padding-top: 10px;
}

.a-non {
    color: inherit !important;
}

.float-contianer {
    padding: 20px;
}
.float-child {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.info-container {
    padding: 20px;
}

.info-child{
    width: 50%;
    float: left;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: cadetblue;
}

::selection {
    color: white;
    background: cadetblue;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0A1824 inset !important;
    -webkit-text-fill-color: white !important;
}
.input-form {
    border-radius: 5px;
    background-color: #0A1824;
    color: white;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #0A1824;
}

.main {
    background-color: #1D3C43;
    border-radius: 2px;
}

.footer {
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
