@model UserPasswordInputModel

@*ToDo: Style the input and the form*@

<form asp-action="Password" method="post">

    @Html.ValidationMessageFor(m => m.CurrentPassword)
    <input name="CurrentPassword" type="password" />

    <input id="password" name="NewPassword" type="password" />
    <input id="confirm_password" type="password" />
    <span id='message'></span>

    <input disabled id="submit" type="submit" />
</form>

<script>
    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() === $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
            $("#submit").prop("disabled", false)
        } else {            
            $('#message').html('Not Matching').css('color', 'red');
            $("#submit").prop("disabled", true)
        }                    
    });
</script>